/* src/styles/navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0073e6;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .navbar-logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-buttons {
    display: flex;
    gap: 15px;
  }
  
  .navbar-button {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .navbar-button:hover {
    background-color: #005bb5;
  }
  
  /* src/styles/home.css */
  .home-container {
    padding: 20px;
  }
  
  .home-section {
    margin-top: 50px;
    padding: 20px;
    background-color: #f4f6f8;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }
  
  .home-section h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .home-section p {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.6;
  }
/* 부드러운 스크롤 적용 */
html {
    scroll-behavior: smooth;
  }
    